.wrapper {
  width: 100%;
  height: 91vh;
  background-color: var(--color-black);
  display: flex;
  justify-content: space-around;
}
.content {
  margin-top: 5rem;
  width: 35.6rem;
}

.header {
  font-size: 4.125rem;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
.desc p {
  margin: 3rem 0;
  font-size: 1.125rem;
  color: var(--color-text);
}

.emailInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 27.325rem;
  height: 4.625rem;
  border-radius: 2.7rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
}
.emailInput input {
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  width: 60%;
}
input::placeholder {
  color: var(--color-text);
}
input:focus {
  outline: none;
}
