@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  --color-primary: #e3b748;
  --color-black: #111111;
  --color-white: #ffffff;
  --color-background: #1d1d1d;
  --color-text: rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-white);
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--color-background);
}

.icon {
  fill: var(--color-text);
}
